<header class="header">
  <div class="container">
      <div class="header__menu">
        <div class="header__logo"><a href=""><img src="../img/svg/Frame 245.svg" alt=""></a></div>
        <div class="header__nav">
          <ul class="header__list">
            <li class="header__item">Home</li>
            <li class="header__item">Blog</li>
            <li class="header__item">Community</li>
            <li class="header__item">Ecosystem</li>
          </ul>
        </div>
        <div class="header__button">
          <button class="header__btn">Explore</button>
        </div>
      </div>
  </div>
</header>
